<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mp.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="com.itheima.mp.domain.po.Address">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="town" column="town" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="street" column="street" jdbcType="VARCHAR"/>
            <result property="contact" column="contact" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_default" jdbcType="BIT"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,province,
        city,town,mobile,
        street,contact,is_default,
        notes,deleted
    </sql>
</mapper>
